extends base.pug

block append scripts
    script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" type="application/javascript")
    script(type="application/javascript")
        include js/WindowState.js
    script(type="application/javascript")
        include js/window.js

block content
    div.row
        div.column.title
            h1.software-window #{window.software.name}: #{window.title}

    div.row
        if window.command_groups.exists
            div.column#command-buttons
                each command_group in window.command_groups.all
                    h4=command_group.name

                    div.grid
                        each command in command_group.commands.all
                            button(onclick=("sendCommand('" + command.name + "')"))=command.name

        div.column
            div.row
                div.column
                    h4="Status"
                div.column
                    div#loader(hidden)

            img(
                id="screenshot"
                src="screenshot/"
                onclick="mouseUp(event)"
                onmousedown="mouseDown(event)"
                onmouseup="mouseUp(event)"
                ontouchstart="touchStart(event)"
                ontouchend="touchEnd(event)"
                alt="Screenshot of the state of the window. If not visible the system may not function properly."
            )

            h4="Last command: "
                span#command-ok N/A
                span#command-error

            p#mode-disclaimer(hidden) * Zooming with mobile devices is disabled in screenshot-only mode

    div.row
        div.column.app-controls
            h4 SETTINGS

            p
                if window.command_groups.exists
                    input(type="checkbox" id="hide-commands" name="hide-commands" onclick="toggleCommandButtons()")
                    label(for="hide-commands") Hide commands
                    br

                input(type="checkbox" id="disable-screenshot-update" name="disable-screenshot-update" onclick="toggleAutoUpdate()")
                label(for="disable-screenshot-update") Disable automatic screenshot update
                br

                input(type="checkbox" id="disable-click-drag" name="disable-click-drag" onclick="toggleClickAndDragActions()")
                label(for="disable-click-drag") Disable click and drag actions
                br

                input(type="checkbox" id="disable-scroll-top-focus" name="disable-scroll-top-focus" onclick="toggleScrollToTopOnFocus()")
                label(for="disable-scroll-top-focus") Disable scroll to top on focus

            p
                a(href="/admin/logout/" title="Logout")
                    i.material-icons lock_open
                a(href="/admin/" title="Settings")
                    i.material-icons settings
                a(href="/" title="Software window list")
                    i.material-icons menu
                a(href="#" onclick="setScreenshotSrc()" title="Refresh screenshot")
                    i.material-icons refresh
